__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
data/
*.log
*.mid
.DS_Store
.venv
*.egg-info/
dist/
build/
.env
.env.local
cookies.txt
rs15rbcdojmrglaomuj6rkhf-222128872469-logs-2026-08-16-22-26-17.txt
